/typescript/dist/
/typescript/node_modules/
wmbo-full.json
wmbo-full.obo
wmbo-full.owl
wmbo-pcl-comp.json
wmbo-pcl-comp.obo
wmbo-pcl-comp.owl
wmbo-simple.json
wmbo-simple.obo
wmbo-simple.owl
wmbo.json
wmbo.obo
wmbo.owl
wmbo-base.owl
/wmbo-cl-comp.owl

.idea
__pycache__/
patterns/
src/ontology/mirror/
src/ontology/reports/
src/ontology/tmp/
